@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import "tailwindcss";



@theme {
  /* Fonts */
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  /* Colors */
  --color-gray-50: #f9f9f9;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #d0d0d0;
  --color-gray-400: #c0c0c0;
  --color-gray-500: #a7a7a7;
  --color-gray-600: #6e6e6e;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  
  /* Shadows */
  --shadow-sm: 0 2px 10px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.12);
}

* {
  text-transform: lowercase;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-mono);
  font-size: 16px;
  background-color: #f5f5f5;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Transitions for hover effects */
a, button {
  transition: all 0.2s ease;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}